.jumbotron{
	background: #333 url("../img/hello.jpeg") ;
	
	text-align: center;
}
.jumbotron-main{
	color: #fff;
	padding:0 40px 40px 60px;

}
.jumbotron-main h1{
	margin-bottom: 30px;
}
.jumbotron-main p{
	margin-bottom: 40px;
}
.btn{
	padding:10px;
}
.navbar{
	padding:0px;
	color: #fff;
	margin-bottom: 4px;

}
.navbar a{
	color:#fff;
}
.navbar a:hover{
	border-bottom: #fff 4px solid;
	margin-bottom: 0px;
}
.glyphicon{

	font-size: 40px;
}
.box{
	text-align: center;
	
}
.sectionA{
	background: #313461;
	text-align: center;
	padding:20px 40px;
	color: #fff;

}
.img-full{
	width: 100% 
}
.main-footer{
	background: #f5f5f5;
	padding:50;
}