<!DOCTYPE html>
<html>
<head>
	<title>js_object_and_method</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Basic Navbar Example</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
</div>

	<div id='test'>
		<ul></ul>
	</div>
	<script>
		//output
		//console.log("hello");
		//document.write("hello prabat");
		//window.alert("hello pikachu");
		//  ff  document.getElementById('test').innerHTML="hello  prabhat sharma";

		//variables
		var x=39;
		var y=34;
		console.log(Math.pow(x,y));
		var name="prabhat";
		document.write('user name is '+name);
		//another way to create array
		 var animals=new Array('dog','car','monkey');
		
		 animals.push('pig');
		 console.log(animals);
		 //console.log(animals.sort());

		 var person=[];
		 person['name']='prabhat';
		 person['age']='20';
		 person['car']='range-rover';

		 //console.log(person);

		 //another way mostly used in json data or others

		 var charger=[
		 {
		 	company:'sony',
		 	current:2,
		 	plug: 3
		 },
		 		 {
		 	company:'xiomi',
		 	current:2,
		 	plug: 3
		 },
		 		 {
		 	company:'sony',
		 	current:3,
		 	plug: 2
		 }

		 ]
		 console.log(charger);
		 for(i=0;i<charger.length;i++){
		 	document.getElementById('test').innerHTML+="<li>"+charger[i].company+" current in amphere is"+charger[i].current+"</li>";

		 }

	</script>
</body>
</html>
