include includes/header



.container
  form.form-signin
    img.mb-4(src='https://getbootstrap.com/assets/brand/bootstrap-solid.svg', alt='', width='72', height='72')
    h1.h3.mb-3.font-weight-normal User Log-In
    label.sr-only(for='inputEmail') Email address
    input#inputEmail.form-control(type='email',name="email" placeholder='Email address', required='', autofocus='')
    br
    label.sr-only() Password
    input#inputPassword.form-control(type='password',name='passowrd' placeholder='Password', required='')
    br
    p
        |No account
        a(href="/users/register") Register

    button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
    p.mt-5.mb-3.text-muted © 2017-2018



include includes/footer